---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
IncludeBlocks: Preserve
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PointerAlignment: Right
SortIncludes: true
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Naming conventions
MacroDefinitionCase: UPPER_CASE
TypedefCase: PascalCase
StructCase: PascalCase
EnumCase: PascalCase
VariableCase: camelCase
FunctionCase: camelCase

# Other specific rules
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
CompactNamespaces: false
FixNamespaceComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
ReflowComments: true
SortUsingDeclarations: true
SpaceAfterLogicalNot: false
SpaceBeforeRangeBasedForLoopColon: true
SpacesInContainerLiterals: false
